@using System.Activities.Statements
@using MyBasket.Models
<!DOCTYPE html>

@{
    var UserName = "";
    if (Session["User"] != null)
    {
        Customer customer = (Customer)Session["User"];
        UserName = customer.Name;
    }

}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyBasket</title>
    <link type="text/css" rel="stylesheet" href="~/Content/bootstrap.min.css" />
</head>
<body>
    <div>

        <div class="container">
            <div>
                <h1 class="alert alert-info">
                    <a href="/">My Basket</a>
                    <a style="float:right; margin-right:auto;">
                        Welcome!!! @UserName
                    </a>
                </h1>
                @{
                    //if (UserName == "Guest")
                    if (User.Identity.IsAuthenticated)
                    {
                        <div id="Logout">
                            <h5 style="float:right; margin-right:auto;">
                                @Html.ActionLink("Logout", "Logout", "Customer", null, new { @class = "btn btn-primary btn-block" })
                            </h5>
                        </div>
                    }
                    else
                    {
                        <div id="Register">
                            <h5 style="float:right; margin-right:auto;">
                                @Html.ActionLink("Register", "Register", "Customer", null, new { @class = "btn btn-primary" })
                            </h5>
                        </div>
                        <div id="Login">
                            <h5 style="float:right; margin-right:auto;">
                                @Html.ActionLink("Login", "Login", "Customer", null, new { @class = "btn btn-primary", @onclick= "AfterLogin()" })
                            </h5>
                        </div>
                    }
                }
            </div>
            <div class="row">
                <div class="col-md-3">
                    <!--sidebar with navigation options-->
                    <div>
                        <br />
                        <h5>Categories</h5>
                        @Html.Action("Categories", "Home")
                    </div>

                    <div>
                        <br />
                        <h5>Brands</h5>
                        @Html.Action("Brands", "Home")
                    </div>

                    <div>
                        <br />
                        <h5>My Cart</h5>

                        <div id="CartDetails">
                            @Html.Action("CartDetails", "Cart")
                        </div>

                    </div>

                </div>

                <div class="col-md-9">
                    <!--main/variable content area-->
                    @RenderBody()
                </div>
            </div>
        </div>
        <script type="text/javascript" src="@Url.Content("~/Scripts/UserDefined/Site.js")"></script>
        <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/toastr.js")"></script>
        <script type="text/javascript" src="../Sweet/Alert.cshtml"></script>
    </div>
</body>
</html>
